h1{
    font-size: 20px;
    padding:15px;
}
.container{
    width:980px;
    position:relative;
    margin:auto;
}
.mainPanel{width:700px;}
label{margin-right: 10px;}
.sidebar {
    width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    height: 230px;
}
.mainPanel>div>div{
    padding:16px;
    background:#fcfcfc;
    border:1px solid #f1f1f1;
    border-radius:5px;
    margin-bottom:16px;
}